<div class="animated fadeIn">
  <div class="row mb-4">
    <div class="col-md-2">
      <button class="btn btn-warning btn-block mb-2" (click)="onClickSaveConcept()">
        Save <i class=""></i>
      </button>
      <div class="card text-center" id="toolbar-card">
        <div class="card-header">
            Toolbar
        </div>
        <div class="card-body" #toolbar>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div #diagram id="concept-diagram">
        <div class="pad-right"></div>
    
      </div>
    </div>
  </div>
</div>
