<div class="animated fadeIn">
  <form #courseForm="ngForm" (ngSubmit)="updateCourse(courseForm)">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
        <div class="card">
          <div class="card-header">
            Create a new course
          </div>
          <div class="card-body">
            <input type="text" class="form-control mb-2" placeholder="Course code" [(ngModel)]="course.code" name="code" ngModel>
            <input type="text" class="form-control mb-2" placeholder="Course title" [(ngModel)]="course.title" name="title" ngModel>
            <button class="btn btn-success btn-block" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>