<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body" style="font-family:'Courier New', Courier, monospace;">
          <div class="text-center"><h1 style="font-weight: bold;">INTERIM REPORT</h1></div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <strong>Student</strong>: {{ studentName }}
            </div>
            <div class="col-md-6">
              <strong>Course code</strong>: {{ courseDetails.code }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong>Identification</strong>: 0000{{ studentId }}
            </div>
            <div class="col-md-6">
              <strong>Course title</strong>: {{ courseDetails.title }}
            </div>
          </div>

          <hr>
          <h4>Pre-assessment result</h4>
          <span>You got a score of <strong>{{ results.score }}</strong> with an equivalent of <strong>{{ results.percentage }}</strong> in percentage.</span>
          <br>
          <br>
          <i>Exam taken last <strong>{{ results.date }}</strong></i>
          <hr>
          <h4>Academic efforts</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Quiz#</th>
                <th>Percentage</th>
                <th>Academic</th>
                <th>Effort</th>
                <th>Description</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="quizzes.length == 0"><td colspan="4">No quizzes available</td></tr>
              <tr *ngFor="let quiz of quizzes; let i = index;">
                <td>{{ i+1 }}</td>
                <td>{{ quiz.percentage }}</td>
                <td>{{ quiz.academic }}</td>
                <td>{{ quiz.effort }}</td>
                <td>{{ quiz.description }}</td>
                <td>{{ quiz.level }}</td>
              </tr>
            </tbody>
          </table>

          <hr>
          <h4>System usage report</h4>
          <i>You have logged in to the system {{ logs.length }} times.</i>
          <br>
          <br>
          Latest usages
          <ul>
            <li *ngFor="let log of usage">{{ log.created }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4" *ngFor="let node of nodes">
          <a [routerLink]="['/interims/contents', node.nodeId ]" class="btn btn-block btn-success pt-3 pb-3">
            <strong class="float-left">{{ node.title }}</strong>
            <span class="float-right"><i class="icon-star"></i></span>
            <div class="clearfix"></div>
          </a>
          
    </div>
  </div> -->
</div>