<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> List of concepts
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Active</th>
                <th>Date Created</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="concepts.length == 0"><td colspan="4">No concepts available</td></tr>
              <tr *ngFor="let concept of concepts">
                <td>{{ concept.title }}</td>
                <td>{{ concept.active ? "Yes" : "No" }}</td>
                <td>{{ concept.created }}</td>
                <td class="text-center">
                  <a [routerLink]="['/concepts', concept.id ]" class="btn btn-success ml-2"><i
                      class="fa fa-eye"></i></a>
                  <button class="btn btn-secondary ml-2"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-danger ml-2"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>