<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Account details
        </div>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-4 text-muted">Username:</div>
            <div class="col-8">{{ details.username }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-4 text-muted">Role:</div>
            <div class="col-8">{{ details.role }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-4 text-muted">Date created:</div>
            <div class="col-8">{{ details.created }}</div>
          </div>
          <div class="row mb-2" *ngIf="details.role=='Teachers'">
            <div class="col-12">
              <select class="form-control" #course (change)="onChangeCourse(course.value)" [(ngModel)]="info.courseId">
                <option *ngFor="let course of courses" [value]="course.id">{{ course.title }}</option>
              </select>
            </div>
          </div>
          <div class="row mb-2" *ngIf="details.role=='Students'">
            <div class="col-12">
              <select class="form-control" #course (change)="onChangeCourse(course.value)"
                [(ngModel)]="info.teacherCourseId">
                <option value="" selected>Select a course</option>
                <option *ngFor="let course of courses" [value]="course.id">{{ course.title }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="info">
      <div class="card">
        <div class="card-header">
          {{ details.role }} information
        </div>
        <div class="card-body">
          <div class="row mb-2" *ngFor="let attribute of info | keyvalue">
            <div class="col-4 text-muted text-capitalize">{{ attribute.key }}:</div>
            <div class="col-8">{{ attribute.value }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>