<div class="animated fadeIn">
  <!--/.card-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Administrator dashboard
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-info">
                    <small class="text-muted">Users</small>
                    <br>
                    <strong class="h4">{{ users?.length || '0' }}</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
              <label>Recent user activities</label>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Activity</th>
                    <th>Date & Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="logs.length == 0"><td colspan="3">No logs available</td></tr>
                  <tr *ngFor="let log of logs">
                    <td>{{ log.username }}</td>
                    <td>{{ log.description }}</td>
                    <td>{{ log.created }}</td>
                  </tr>
                </tbody>
              </table>
            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-warning">
                    <small class="text-muted">Courses</small>
                    <br>
                    <strong class="h4">{{ courses?.length || '0' }}</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
              <label>Latest courses</label>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Course code</th>
                    <th>Course title</th>
                    <th>Date & Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="courses.length == 0"><td colspan="3">No courses available</td></tr>
                  <tr *ngFor="let course of courses">
                    <td>{{ course.code }}</td>
                    <td>{{ course.title }}</td>
                    <td>{{ course.created }}</td>
                  </tr>
                </tbody>
              </table>
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th class="text-center">Role</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/default.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-default"></span>
                  </div>
                </td>
                <td>
                  <div>{{ user.username }}</div>
                  <div class="small text-muted">
                    <span>Registered</span> | {{ user.created }}
                  </div>
                </td>
                <td class="text-center">
                  {{ user.role }}
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Unknown</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
