<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> List of quizzes taken
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Score</th>
                <th>Percentage</th>
                <th>Answer sheet</th>
                <th>Date taken</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="quizzes.length == 0"><td colspan="4">No quizzes available</td></tr>
              <tr *ngFor="let quiz of quizzes">
                <td>{{ quiz.score }}</td>
                <td>{{ quiz.percentage }}</td>
                <td><a href='{{ quiz.image }}' target="_blank">View answers</a></td>
                <td>{{ quiz.created }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>