<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h4>AUTHORING SYSTEM LOGIN</h4>
                  <p class="text-muted">Please provide your credentials below</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" autocomplete="username" required
                      #username>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
                      required #password>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" [class.disabled]="isLoggingIn" class="btn btn-dark px-4"
                        (click)="onClickLogin(username.value, password.value)">Login <i class="fa fa-spinner fa-spin"
                          *ngIf="isLoggingIn"></i></button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-dark py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>SIGNING UP</h2>
                  <p>User accounts are being registered by the administrator. Please coordinate in our office.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
