<div class="animated fadeIn">
  <div class="card">
    <div class="card-body text-center">
      <h3>Achievements</h3>
      <h3><i class="icon-star"></i></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let node of nodes">
          <a [routerLink]="['/interims/contents', node.nodeId ]" class="btn btn-block btn-success pt-3 pb-3">
            <strong class="float-left">{{ node.title }}</strong>
            <span class="float-right"><i class="icon-star"></i></span>
            <div class="clearfix"></div>
          </a>
          
    </div>
  </div>
</div>