<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Create assessment</div>
        <div class="card-body">
          <form [formGroup]="dynamicAssessmentsForm" (ngSubmit)="onAssessmentsFormSubmit()">
            <div *ngFor="let assessment of t.controls; let i = index" class="col-md-12 border-bottom">
              <div [formGroup]="assessment">
                <label class="badge badge-secondary mt-2">Question {{i + 1}}</label>
                <textarea class="form-control" placeholder="Enter question here" rows="5"
                  formControlName="topic"></textarea>
                <textarea class="form-control mb-2 mt-2"
                  placeholder="Enter answers here. Each entry should be separated by new line. Add (c) before the answer content to define the correct answer"
                  rows="4" formControlName="answer"></textarea>
              </div>
            </div>
            <div class="col-md-12 mt-2">
              <button type="button" class="btn btn-warning text-light" (click)="addAssessments()"><i
                  class="fa fa-plus"></i></button>
              <button type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>