<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Answer study habits form</div>
        <div class="card-body">
          <form #habitsForm="ngForm" (ngSubmit)="onHabitsFormSubmit(habitsForm)">
            <div *ngFor="let item of questions; let i = index" class="col-md-12 pt-2 pb-2">
              <br>
              <!-- <label class="text-uppercase"><strong>{{ i }}</strong></label> -->
              <div class="row">
                <div class="col-md-12">
                  <label class="badge badge-secondary mt-2">Question {{i + 1}}</label>
                  <br>
                  <label>{{ item }}</label>
                  <div class="row">
                    <div class="col-6" *ngFor="let answer of [1,4,2,5,3]">
                      <input type="radio" ngModel value="{{ answer }}" name="{{ i }}"> {{ answer }}
                    </div>
                  </div>
                </div>

                <!-- <div *ngFor="let answer of item.answers" class="col-sm-6">
                  <input type="radio" ngModel value="{{ answer.id }}" name="{{item.topic.id}}"> {{ answer.content }}
                </div> -->
              </div>

            </div>
            <div class="col-md-12 mt-2">
              <button type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>