<div class="animated fadeIn">
  <form #userForm="ngForm" (ngSubmit)="createUser(userForm)">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            Create a new user
          </div>
          <div class="card-body">
            <input type="text" class="form-control mb-2" placeholder="Username" name="username" ngModel>
            <input type="password" class="form-control mb-2" placeholder="Password" name="password" ngModel>
            <select class="form-control mb-2" name="role" ngModel #role>
              <option value="">Select a role</option>
              <option *ngFor="let role of roles" value="{{ role.id }}">{{ role.title }}</option>
            </select>
            <button class="btn btn-success btn-block" type="submit">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" *ngIf="role.value!==''">
          <div class="card-header">
            User information
          </div>
          <div class="card-body" *ngIf="role.value==='1'">
            Details are not available for administrators.
          </div>
          <div class="card-body" *ngIf="role.value==='2'">
            <input type="text" class="form-control mb-2" placeholder="First name" name="firstname" ngModel>
            <input type="text" class="form-control mb-2" placeholder="Last name" name="lastname" ngModel>
            <input type="number" class="form-control mb-2" placeholder="Mobile number" name="mobile" ngModel>
          </div>
          <div class="card-body" *ngIf="role.value==='3'">
            <input type="text" class="form-control mb-2" placeholder="First name" name="firstname" ngModel>
            <input type="text" class="form-control mb-2" placeholder="Middle name" name="middlename" ngModel>
            <input type="text" class="form-control mb-2" placeholder="Last name" name="lastname" ngModel>
            <input type="number" class="form-control mb-2" placeholder="Mobile number" name="mobile" ngModel>
            <input type="text" class="form-control mb-2" placeholder="Address" name="address" ngModel>
            <input type="date" class="form-control mb-2" placeholder="Birthday" name="birthday" ngModel>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>