<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> List of courses
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Date Created</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="courses.length == 0"><td colspan="4">No courses available</td></tr>
              <tr *ngFor="let course of courses">
                <td>{{ course.code }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.created }}</td>
                <td class="text-center">
                  <button class="btn btn-secondary ml-2"><i class="fa fa-edit" (click)="editCourse(course.id)"></i></button>
                  <button class="btn btn-danger ml-2" (click)="deleteCourse(course.id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>