<div bsModal #modalQuiz="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalQuiz"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="dynamicQuestionsForm" (ngSubmit)="onQuestionsFormSubmit(dynamicQuestionsForm)">
      <div class="modal-content" #answerSheet>
        <div class="modal-header">
          <h4 class="modal-title">Take quiz</h4>
          <button type="button" class="close" (click)="modalQuiz.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pl-0 pr-0">
            <div *ngFor="let question of t.controls; let i = index" class="col-md-12 border-bottom">
              <div [formGroup]="question">
                <label class="badge badge-secondary mt-2">Question {{i + 1}}</label>
                <br>
                <strong>{{ questionnaire[i].topic.content }}</strong>
                <br>
                <input type="hidden" formControlName="topic" [value]="questionnaire[i].topic.id">
                <div class="form-check form-check-inline">
                  <div *ngFor="let answer of questionnaire[i].answers" class="mr-2 mb-3">
                    <input type="radio" class="form-check-input" formControlName="answer" value="{{ answer.id }}"> {{ answer.content }}
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer border-top-0 pt-1">
          <button type="submit" class="btn btn-primary float-right">Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="animated fadeIn">
  <div class="row">
  </div>
</div>
<div class="graph-container">
  <div #diagram id="concept-diagram">
    <div class="pad-right"></div>

  </div>
</div>