<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Create habits</div>
        <div class="card-body">
          <form [formGroup]="dynamicHabitsForm" (ngSubmit)="onHabitsFormSubmit()">
            <div *ngFor="let assessment of t.controls; let i = index" class="col-md-12 border-bottom">
              <div [formGroup]="assessment">
                <label class="badge badge-secondary mt-2">Question {{i + 1}}</label>
                <select class="form-control mb-2" formControlName="category">
                  <option value="">Select a category</option>
                  <option value="time_management_and_procrastination">Time Management And Procrastination</option>
                  <option value="concentration_and_memory">Concentration and Memory</option>
                  <option value="study_aids_and_note-taking">Study Aids and Note Taking</option>
                  <option value="test_strategies_and_test_anxiety">Test Strategies and Test Anxiety</option>
                  <option value="organizing_and_processing_information">Organizing and Processing Information</option>
                  <option value="motivation_and_attitude">Motivation and Attitude</option>
                  <option value="reading_and_selecting_the_main_idea">Reading and Selecting the Main Idea</option>
                  <option value="writing">Writing</option>
                </select>
                <textarea class="form-control mt-2 mb-2" placeholder="Enter question here" rows="5"
                  formControlName="question"></textarea>
                <!-- <textarea class="form-control mb-2 mt-2"
                  placeholder="Enter answers here. Each entry should be separated by new line. Add (c) before the answer content to define the correct answer"
                  rows="4" formControlName="answer"></textarea> -->
              </div>
            </div>
            <div class="col-md-12 mt-2">
              <button type="button" class="btn btn-warning text-light" (click)="addHabits()"><i
                  class="fa fa-plus"></i></button>
              <button type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>