<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> List of semesters
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Semester Title</th>
                <th>Active State</th>
                <th>Date Created</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let semester of semesters">
                <td>{{ semester.title }}</td>
                <td>{{ semester.active }}</td>
                <td>{{ semester.created }}</td>
                <td class="text-center">
                  <button class="btn btn-success ml-2"><i class="fa fa-eye"></i></button>
                  <button class="btn btn-secondary ml-2"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-danger ml-2"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>