<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Answer pre-assessment</div>
        <div class="card-body">
          <form #assessmentForm="ngForm" (ngSubmit)="onAssessmentsFormSubmit(assessmentForm)">
            <div *ngFor="let item of items;let i = index" class="col-md-12 border-bottom pt-2 pb-2">
              <label class="badge badge-secondary mt-2">Question {{i + 1}}</label>
              <br>
              <label>{{ item.topic.content }}</label>
              <div class="row">

                <div *ngFor="let answer of item.answers" class="col-sm-6">
                  <input type="radio" ngModel value="{{ answer.id }}" name="{{item.topic.id}}"> {{ answer.content }}
                </div>
              </div>

            </div>
            <div class="col-md-12 mt-2">
              <button type="submit" class="btn btn-primary float-right">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>