<div bsModal #modalUpload="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalUpload"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload a file</h4>
        <button type="button" class="close" (click)="modalUpload.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" (change)="handleFileInput($event.target.files)">
            <label #fileLabel class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalUpload.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="uploadFileToActivity()">Upload <i
            class="fa fa-upload"></i></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #modalQuiz="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalQuiz"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create quiz</h4>
        <button type="button" class="close" (click)="modalQuiz.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pl-0 pr-0">
        <form [formGroup]="dynamicQuestionsForm" (ngSubmit)="onQuestionsFormSubmit()">
          <div *ngFor="let question of t.controls; let i = index" class="col-md-12 border-bottom">
            <div [formGroup]="question">
              <label class="badge badge-secondary mt-2">Question {{i + 1}}</label>
              <textarea class="form-control" placeholder="Enter question here" rows="5"
                formControlName="topic"></textarea>
              <textarea class="form-control mb-2 mt-2"
                placeholder="Enter answers here. Each entry should be separated by new line. Add (c) before the answer content to define the correct answer"
                rows="4" formControlName="answer"></textarea>
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <button type="button" class="btn btn-warning text-light" (click)="addQuestions()"><i
                class="fa fa-plus"></i></button>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="animated fadeIn">
  <div class="row mb-4">
    <div class="col-md-2">
      <button class="btn btn-warning btn-block mb-2" (click)="onClickSaveConcept()">
        Save <i class=""></i>
      </button>
      <div class="card text-center" id="toolbar-card">
        <div class="card-header">
            Toolbar
        </div>
        <div class="card-body" #toolbar>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div #diagram id="concept-diagram">
        <div class="pad-right"></div>
    
      </div>
    </div>
  </div>
</div>
