<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-9">
      <div class="graph-container">
        <div #diagram id="concept-diagram">
          <div class="pad-right"></div>
      
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Statistics
        </div>
        <div class="card-body" *ngIf="results">
          <strong>Recommended topics</strong>
          <ul>
            <li *ngFor="let recommendation of recommendations">{{ recommendation }}</li>
          </ul>

          <strong>Finished topics</strong>
          <ul>
            <li *ngFor="let node of nodes">{{ node.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>