<div class="animated fadeIn">
  <form #semesterForm="ngForm" (ngSubmit)="createSemester(semesterForm)">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
        <div class="card">
          <div class="card-header">
            Create a new semester
          </div>
          <div class="card-body">
            <input type="text" class="form-control mb-2" placeholder="Semester title" name="title" ngModel>
            <button class="btn btn-success btn-block" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
